
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 198rem;
}.portfolio-Lif {
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;

  .auto-group-y2gk-ABu {
    flex-shrink: 0;
    width: 199rem;
    height: 440rem;
    position: relative;

    .background-n6o {
      width: 199rem;
      height: 429.8rem;
      position: absolute;
      left: 0;
      top: 10.2rem;
      background-color: #11071f;
    }
    .gradient-Gnf {
      height: 72rem;
      position: absolute;
      left: 85.8rem;
      top: 258rem;
      object-fit: contain;
      vertical-align: top;
      width: 64.2rem;
    }
    .gradient-Q8B {
      left: 73.9rem;
      top: 102.2rem;
      object-fit: contain;
      vertical-align: top;
      width: 62.5rem;
      height: 70rem;
      position: absolute;
    }
    .gradient-jgF {
      height: 70rem;
      position: absolute;
      left: 108.4rem;
      top: 257.1rem;
      object-fit: contain;
      vertical-align: top;
      width: 62.5rem;
    }
    .gradient-HBy {
      width: 57.2rem;
      height: 64.1rem;
      position: absolute;
      left: 27.4rem;
      top: 316.6rem;
      object-fit: contain;
      vertical-align: top;
    }
    .gradient-czw {
      top: 22rem;
      object-fit: contain;
      vertical-align: top;
      width: 38.5rem;
      height: 43.1rem;
      position: absolute;
      left: 38.5rem;
    }
    .portfolio-ZQP {
      left: 104.7rem;
      top: 276.2rem;
      object-fit: contain;
      vertical-align: top;
      width: 58.2878rem;
      height: 34.1rem;
      position: absolute;
    }
    .portfolio-HLP {
      height: 34.1rem;
      position: absolute;
      left: 46rem;
      top: 333rem;
      object-fit: contain;
      vertical-align: top;
      width: 58.2878rem;
    }
    .header-235 {
      background-color: #190b2d;
      width: 198rem;
      height: 11.3rem;
      position: absolute;
      left: 0;
      top: 0;
      box-shadow: 0 0.6rem 2.2rem rgba(0, 0, 0, 0.1000000015);
    }
    .home-8ro {
      position: absolute;
      font-weight: 600;
      height: 2.6rem;
      top: 4.35rem;
      display: flex;
      align-items: center;
      width: 6rem;
      left: 111.4rem;
      justify-content: center;
      font-size: 2rem;
      line-height: 1.26;
      letter-spacing: 0.04rem;
      color: #ffffff;
      font-family: Plus Jakarta Sans, 'Source Sans Pro';
      white-space: nowrap;
    }
    .about-ngT {
      position: absolute;
      align-items: center;
      justify-content: center;
      font-family: Plus Jakarta Sans, 'Source Sans Pro';
      top: 4.35rem;
      line-height: 1.26;
      color: #ffffff;
      white-space: nowrap;
      left: 134.75rem;
      display: flex;
      font-weight: 600;
      letter-spacing: 0.04rem;
      width: 6.3rem;
      height: 2.6rem;
      font-size: 2rem;
    }
    .lab-fVM {
      font-family: Plus Jakarta Sans, 'Source Sans Pro';
      height: 2.6rem;
      font-weight: 600;
      color: #ffffff;
      white-space: nowrap;
      display: flex;
      letter-spacing: 0.04rem;
      line-height: 1.26;
      left: 158.7rem;
      justify-content: center;
      top: 4.35rem;
      align-items: center;
      font-size: 2rem;
      width: 3.7rem;
      position: absolute;
    }
    .im-a-software-engineer-xzF {
      width: 67.9rem;
      position: absolute;
      top: 66.05rem;
      font-size: 5rem;
      line-height: 1.805;
      white-space: nowrap;
      height: 9.1rem;
      left: 47.4rem;
      display: flex;
      font-weight: 400;
      letter-spacing: 0.1rem;
      color: #ffffff;
      font-family: Preahvihear, 'Source Sans Pro';
    }
    .judges-a-book-by-its-cover-FiT {
      color: #ffffff;
      height: 12.7rem;
      display: flex;
      font-size: 5rem;
      font-weight: 400;
      letter-spacing: 0.1rem;
      font-family: Preahvihear, 'Source Sans Pro';
      width: 38.6rem;
      position: absolute;
      left: 72.7rem;
      top: 37.9181rem;
      line-height: 1.2654903309;

      .judges-a-book-by-its-cover-FiT-sub-0 {
      }
      .judges-a-book-by-its-cover-FiT-sub-1 {
        font-size: 5rem;
        font-weight: 400;
        line-height: 1.2654903309;
        letter-spacing: 0.1rem;
        color: #7127ba;
        font-family: Preahvihear, 'Source Sans Pro';
      }
      .judges-a-book-by-its-cover-FiT-sub-2 {
      }
    }
    .a-designer-who-B8F {
      display: flex;
      align-items: center;
      color: #ffffff;
      width: 14.2rem;
      position: absolute;
      left: 72.65rem;
      justify-content: center;
      height: 3.1rem;
      letter-spacing: 0.034rem;
      text-decoration-line: underline;
      font-family: Preahvihear, 'Source Sans Pro';
      font-weight: 400;
      font-size: 1.7rem;
      line-height: 1.805;
      white-space: nowrap;
      top: 35.1681rem;
    }
    .because-if-the-cover-does-not-impress-you-what-else-can-s15 {
      align-items: center;
      font-size: 1.1rem;
      letter-spacing: 0.022rem;
      font-family: Preahvihear, 'Source Sans Pro';
      white-space: nowrap;
      width: 34.1rem;
      height: 2rem;
      top: 50.8681rem;
      line-height: 1.805;
      color: #ffffff;
      position: absolute;
      left: 72.7rem;
      justify-content: center;
      display: flex;
      font-weight: 400;
    }
    .a-self-taught-ui-ux-designer-functioning-in-the-industry-for-3-years-now-i-make-meaningful-and-delightful-digital-products-that-create-an-equilibrium-between-user-needs-and-business-goals-vk3 {
      font-family: Preahvihear, 'Source Sans Pro';
      width: 89.1rem;
      left: 47.7rem;
      top: 84.5rem;
      display: flex;
      font-size: 2.2rem;
      font-weight: 400;
      letter-spacing: 0.044rem;
      height: 12rem;
      position: absolute;
      line-height: 1.805;
      color: #ffffff;
    }
    .work-experience-MKZ {
      top: 113.45rem;
      display: flex;
      white-space: nowrap;
      font-size: 4rem;
      font-weight: 400;
      line-height: 1.805;
      letter-spacing: 0.08rem;
      width: 35.4rem;
      height: 7.3rem;
      position: absolute;
      left: 46.8rem;
      color: #ffffff;
      font-family: Preahvihear, 'Source Sans Pro';
    }
    .hello-i-am-ibrahim-memon-3y5 {
      display: flex;
      justify-content: center;
      color: #ffffff;
      line-height: 5.1052631579;
      letter-spacing: -0.05rem;
      white-space: nowrap;
      width: 24.3rem;
      top: 20.7462rem;
      align-items: baseline;
      font-size: 1.9rem;
      font-weight: 400;
      height: 9.7rem;
      position: absolute;
      left: 70.8rem;
      font-family: Preahvihear, 'Source Sans Pro';

      .hello-i-am-ibrahim-memon-3y5-sub-0 {
        letter-spacing: -0.05rem;
        color: #ffffff;
        font-family: Preahvihear, 'Source Sans Pro';
        font-size: 1.9rem;
        font-weight: 400;
        line-height: 5.1052631579;
      }
      .hello-i-am-ibrahim-memon-3y5-sub-1 {
        font-size: 1.9rem;
        font-weight: 400;
        line-height: 5.1052631579;
        letter-spacing: -0.05rem;
        color: #7127ba;
        font-family: Preahvihear, 'Source Sans Pro';
      }
    }
    .arrow-5HV {
      object-fit: contain;
      vertical-align: top;
      width: 7.8343rem;
      height: 4.7818rem;
      position: absolute;
      left: 62.5156rem;
      top: 25.903rem;
    }
    .ellipse-5-C7D {
      height: 7.3298rem;
      position: absolute;
      left: 87.5rem;
      top: 43.5rem;
      object-fit: contain;
      vertical-align: top;
      width: 19.2727rem;
    }
    .contact-8mZ {
      white-space: nowrap;
      position: absolute;
      left: 45.8rem;
      top: 390.45rem;
      display: flex;
      font-size: 2.5rem;
      letter-spacing: 0.05rem;
      font-family: Preahvihear, 'Source Sans Pro';
      width: 10.7rem;
      height: 4.6rem;
      font-weight: 400;
      line-height: 1.805;
      color: #ffffff;
    }
    .im-currently-looking-to-join-a-cross-functional-team-that-values-improving-peoples-lives-through-accessible-design-or-have-a-project-in-mind-lets-connect-ibrhaimmemon930gmailcom-qfy {
      height: 10.9rem;
      left: 45.8rem;
      line-height: 1.805;
      font-family: Preahvihear, 'Source Sans Pro';
      font-weight: 400;
      letter-spacing: 0.03rem;
      color: #ffffff;
      width: 70.3rem;
      position: absolute;
      top: 402.25rem;
      display: flex;
      font-size: 1.5rem;
    }
    .logo-Fzb {
      vertical-align: top;
      width: 3.5rem;
      height: 3.9rem;
      position: absolute;
      left: 49.7rem;
      top: 3.7rem;
      object-fit: contain;
    }
    .designation-amy {
      top: 73.7038rem;
      width: 56.5rem;
      height: 3.8rem;
      position: absolute;
      left: 47.4rem;

      .currently-im-a-software-engineer-at-facebook-i7V {
        white-space: nowrap;
        font-weight: 400;
        line-height: 1.806640625;
        color: #ffffff;
        width: 56.5rem;
        letter-spacing: 0.042rem;
        left: 0;
        height: 3.8rem;
        position: absolute;
        font-size: 2.1rem;
        font-family: Preahvihear, 'Source Sans Pro';
        align-items: baseline;
        top: 0;
        display: flex;

        .currently-im-a-software-engineer-at-facebook-i7V-sub-0 {
          font-size: 2.1rem;
          font-weight: 400;
          line-height: 1.805;
          letter-spacing: 0.042rem;
          color: #ffffff;
          font-family: Preahvihear, 'Source Sans Pro';
        }
        .currently-im-a-software-engineer-at-facebook-i7V-sub-1 {
          font-weight: 400;
          line-height: 1.805;
          letter-spacing: 0.042rem;
          color: #1877f2;
          font-family: Preahvihear, 'Source Sans Pro';
          font-size: 2.1rem;
        }
        .currently-im-a-software-engineer-at-facebook-i7V-sub-2 {
          font-size: 2.1rem;
          font-weight: 400;
          line-height: 1.805;
          letter-spacing: 0.042rem;
          color: #ffffff;
          font-family: Preahvihear, 'Source Sans Pro';
        }
      }
      .image-8-D6B {
        position: absolute;
        left: 42.9rem;
        top: 0.8038rem;
        object-fit: cover;
        vertical-align: top;
        width: 2rem;
        height: 2.1rem;
      }
    }
    .experience-8iw {
      box-shadow: 0.4rem 0.7rem 2.6rem rgba(0, 0, 0, 0.1199999973);
      background: linear-gradient(290.49deg, #130328 106.77%, #250f42 158.32%, #38116d 200.94%, #261045 254.46%, #190634 283.21%);
      border-radius: 1.5rem;
      width: 57rem;
      height: 19.2676rem;
      position: absolute;
      left: 46.3rem;
      top: 125.1rem;

      .mask-group-G4T {
        height: 16.8061rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 57rem;
      }
      .cib-on-the-mobile-1Xq {
        font-weight: 600;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        width: 22.8rem;
        position: absolute;
        left: 19.7rem;
        font-size: 2.6rem;
        height: 3.3rem;
        top: 4.6rem;
        line-height: 1.25;
        white-space: nowrap;
      }
      .take-your-client-onboard-seamlessly-by-our-amazing-tool-of-digital-onboard-process-KHd {
        font-weight: 500;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        width: 21.4rem;
        position: absolute;
        top: 8.1rem;
        line-height: 1.3125;
        height: 2.1rem;
        left: 19.8rem;
        font-size: 0.8rem;
      }
      .learn-more-P2b {
        width: 11.9rem;
        font-weight: 500;
        line-height: 1.5;
        color: #ffffff;
        align-items: center;
        background-color: #2b114f;
        position: absolute;
        font-size: 1rem;
        white-space: nowrap;
        height: 3.3rem;
        left: 19.5rem;
        font-family: Poppins, 'Source Sans Pro';
        top: 11.2rem;
        text-align: center;
        display: flex;
        justify-content: center;
        border: solid 0.1rem #683a92;
        box-sizing: border-box;
        border-radius: 1rem;
      }
      .group-1-Rzs {
        height: 11.5rem;
        position: absolute;
        left: 5rem;
        top: 3.6rem;
        display: flex;
        align-items: center;
        width: 12.1987rem;

        .auto-group-my71-MNj {
          margin-right: 0.1225rem;
          width: 11.5929rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .rectangle-HGP {
            vertical-align: top;
            width: 11.5rem;
            height: 11.5rem;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
          }
          .ellipse-1-R7h {
            width: 11.3929rem;
            height: 4.8085rem;
            position: absolute;
            left: 0.2rem;
            top: 6.2915rem;
            object-fit: contain;
            vertical-align: top;
          }
          .ellipse-2-9Jb {
            vertical-align: top;
            width: 0.4834rem;
            height: 0.4418rem;
            position: absolute;
            left: 0.3573rem;
            top: 7.6743rem;
            object-fit: contain;
          }
          .ellipse-4-skP {
            top: 1.9rem;
            object-fit: contain;
            vertical-align: top;
            width: 0.4834rem;
            height: 0.4418rem;
            position: absolute;
            left: 1.9454rem;
          }
          .ellipse-5-1rb {
            height: 0.4418rem;
            position: absolute;
            left: 9.2987rem;
            top: 9.9777rem;
            object-fit: contain;
            vertical-align: top;
            width: 0.4834rem;
          }
        }
        .ellipse-3-x19 {
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.1902rem;
          width: 0.4834rem;
          height: 0.4418rem;
          object-fit: contain;
        }
      }
    }
    .mask-group-fJs {
      vertical-align: top;
      width: 58.2878rem;
      height: 34.1rem;
      position: absolute;
      left: 104.7rem;
      top: 276.2rem;
      object-fit: contain;
    }
    .experience-nuH {
      top: 146.1rem;
      width: 57rem;
      height: 19.5676rem;
      position: absolute;
      left: 46.3rem;

      .mask-group-inw {
        height: 16.8061rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 57rem;
      }
      .rectangle-984-fy5 {
        border-radius: 1.5rem;
        width: 57rem;
        height: 19.2676rem;
        position: absolute;
        left: 0;
        top: 0.3rem;
        box-shadow: 0.4rem 0.7rem 2.6rem rgba(0, 0, 0, 0.1199999973);
        background-color: #2b114f;
      }
      .rectangle-983-kzX {
        height: 19.2676rem;
        position: absolute;
        left: 0;
        top: 0.2962rem;
        box-shadow: 0.4rem 0.7rem 2.6rem rgba(0, 0, 0, 0.1199999973);
        background: linear-gradient(95.56deg, #130328 0.58%, #250f42 16.32%, #38116d 29.33%, #261045 45.66%, #190634 54.44%);
        border-radius: 1.5rem;
        width: 57rem;
      }
      .cib-on-the-mobile-2BM {
        left: 20.2rem;
        top: 4.9962rem;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        height: 3.3rem;
        position: absolute;
        font-size: 2.6rem;
        font-weight: 600;
        line-height: 1.25;
        color: #ffffff;
        width: 22.8rem;
      }
      .take-your-client-onboard-seamlessly-by-our-amazing-tool-of-digital-onboard-process-vnX {
        height: 2.1rem;
        position: absolute;
        top: 8.4962rem;
        font-size: 0.8rem;
        font-family: Poppins, 'Source Sans Pro';
        width: 21.4rem;
        font-weight: 500;
        line-height: 1.3125;
        color: #ffffff;
        left: 20.3rem;
      }
      .learn-more-cfM {
        left: 20rem;
        align-items: center;
        height: 3.3rem;
        font-weight: 500;
        justify-content: center;
        border: solid 0.1rem #683a92;
        background-color: #2b114f;
        border-radius: 1rem;
        width: 11.9rem;
        position: absolute;
        font-size: 1rem;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        top: 11.5962rem;
        text-align: center;
        line-height: 1.5;
        box-sizing: border-box;
      }
      .group-1-USf {
        position: absolute;
        left: 5.6rem;
        top: 3.9962rem;
        display: flex;
        align-items: center;
        width: 11.9988rem;
        height: 11.7rem;

        .auto-group-pj2o-1Bh {
          margin-right: 0.0154rem;
          width: 11.5rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .rectangle-KiB {
            vertical-align: top;
            width: 11rem;
            height: 11rem;
            position: absolute;
            left: 0.5rem;
            top: 0;
            object-fit: cover;
          }
          .ellipse-1-ry1 {
            left: 0;
            top: 6.8915rem;
            object-fit: contain;
            vertical-align: top;
            width: 11.3929rem;
            height: 4.8085rem;
            position: absolute;
          }
          .ellipse-2-nrf {
            width: 0.4834rem;
            height: 0.4418rem;
            position: absolute;
            left: 0.1573rem;
            top: 8.2743rem;
            object-fit: contain;
            vertical-align: top;
          }
          .ellipse-4-vT5 {
            width: 0.4834rem;
            height: 0.4418rem;
            position: absolute;
            left: 1.7454rem;
            top: 2.5rem;
            object-fit: contain;
            vertical-align: top;
          }
          .ellipse-5-TC7 {
            width: 0.4834rem;
            height: 0.4418rem;
            position: absolute;
            left: 9.0988rem;
            top: 10.5777rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .ellipse-3-bJK {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.8098rem;
          width: 0.4834rem;
          height: 0.4418rem;
        }
      }
    }
    .experience-L11 {
      width: 57rem;
      height: 19.5714rem;
      position: absolute;
      left: 105.5rem;
      top: 145.8rem;

      .mask-group-TbR {
        width: 57rem;
        height: 16.8061rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
        vertical-align: top;
      }
      .rectangle-985-QmZ {
        height: 19.2676rem;
        position: absolute;
        left: 0;
        top: 0.3038rem;
        box-shadow: 0.4rem 0.7rem 2.6rem rgba(0, 0, 0, 0.1199999973);
        background-color: #2b114f;
        border-radius: 1.5rem;
        width: 57rem;
      }
      .rectangle-983-XLP {
        top: 0.3rem;
        box-shadow: 0.4rem 0.7rem 2.6rem rgba(0, 0, 0, 0.1199999973);
        background: linear-gradient(329.88deg, #130328 84.79%, #250f42 133.31%, #38116d 173.44%, #261045 223.84%, #190634 250.9%);
        border-radius: 1.5rem;
        width: 57rem;
        height: 19.2676rem;
        position: absolute;
        left: 0;
      }
      .cib-on-the-mobile-oHu {
        font-weight: 600;
        color: #ffffff;
        white-space: nowrap;
        height: 3.3rem;
        top: 4.5rem;
        left: 19.7rem;
        font-size: 2.6rem;
        line-height: 1.25;
        font-family: Poppins, 'Source Sans Pro';
        width: 22.8rem;
        position: absolute;
      }
      .take-your-client-onboard-seamlessly-by-our-amazing-tool-of-digital-onboard-process-ubq {
        width: 21.4rem;
        height: 2.1rem;
        position: absolute;
        left: 19.8rem;
        top: 8rem;
        font-weight: 500;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        font-size: 0.8rem;
        line-height: 1.3125;
      }
      .learn-more-PX1 {
        font-weight: 500;
        line-height: 1.5;
        display: flex;
        justify-content: center;
        height: 3.3rem;
        top: 11.1rem;
        text-align: center;
        font-size: 1rem;
        border: solid 0.1rem #683a92;
        box-sizing: border-box;
        left: 19.5rem;
        align-items: center;
        border-radius: 1rem;
        width: 11.9rem;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        color: #ffffff;
        background-color: #2b114f;
      }
      .group-1-ehq {
        left: 6.1rem;
        top: 4.9rem;
        width: 11.3929rem;
        height: 9.7rem;
        position: absolute;

        .rectangle-yVD {
          width: 8.8rem;
          height: 8.8rem;
          position: absolute;
          left: 0.7rem;
          top: 0;
          object-fit: cover;
          vertical-align: top;
        }
        .ellipse-1-utf {
          left: 0;
          top: 4.8915rem;
          object-fit: contain;
          vertical-align: top;
          width: 11.3929rem;
          height: 4.8085rem;
          position: absolute;
        }
        .ellipse-2-FxX {
          left: 0.1573rem;
          top: 6.2743rem;
          object-fit: contain;
          vertical-align: top;
          width: 0.4834rem;
          height: 0.4418rem;
          position: absolute;
        }
        .ellipse-3-oDM {
          left: 10.7rem;
          top: 4rem;
          object-fit: contain;
          vertical-align: top;
          width: 0.4834rem;
          height: 0.4418rem;
          position: absolute;
        }
        .ellipse-4-jco {
          top: 2.7rem;
          object-fit: contain;
          vertical-align: top;
          width: 0.4834rem;
          height: 0.4418rem;
          position: absolute;
          left: 7.3rem;
        }
        .ellipse-5-syu {
          top: 8.5777rem;
          object-fit: contain;
          vertical-align: top;
          width: 0.4834rem;
          height: 0.4418rem;
          position: absolute;
          left: 9.0988rem;
        }
      }
    }
    .card-dCP {
      border-radius: 1.4rem;
      width: 66.9rem;
      height: 16.5rem;
      position: absolute;
      left: 46rem;
      top: 288.6rem;
      object-fit: contain;
      vertical-align: top;
    }
    .portfolio-text-Zbq {
      width: 61.7rem;
      height: 33.3rem;
      position: absolute;
      left: 46.2rem;
      top: 278.6rem;
      box-sizing: border-box;
      padding-bottom: 0.3875rem;

      .auto-group-ym4o-sMd {
        margin-bottom: 5.6rem;
        width: 28.8rem;
        height: 7rem;
        position: relative;

        .example-project-R8F {
          left: 0;
          display: flex;
          line-height: 1.5;
          color: #ccd6f6;
          width: 28.8rem;
          position: absolute;
          font-size: 3.4rem;
          font-weight: 600;
          letter-spacing: 0.068rem;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          height: 5.1rem;
          top: 1.9rem;
        }
        .featured-project-v51 {
          display: flex;
          font-size: 1.6rem;
          font-weight: 600;
          letter-spacing: 0.032rem;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          top: 0;
          height: 2.4rem;
          position: absolute;
          left: 0;
          line-height: 1.5;
          color: #9757d3;
          width: 14.3rem;
        }
      }
      .a-web-app-for-visualizing-personalized-spotify-data-view-your-top-artists-top-tracks-recently-played-tracks-and-detailed-audio-information-about-each-track-create-and-save-new-playlists-of-recommended-tracks-based-on-your-existing-playlists-and-more-dVD {
        font-family: Poppins, 'Source Sans Pro';
        margin: 0rem 0rem 6.958rem 3.2rem;
        max-width: 58.5rem;
        display: flex;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.5;
        color: #ccd6f6;
      }
      .auto-group-pwyb-q5V {
        margin: 0rem 51.687rem 0rem 2.758rem;
        width: calc(100% - 54.4458rem);
        display: flex;
        align-items: center;

        .icon-park-solid-click-Z1V {
          height: 2.4542rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 2.346rem 0.1rem 0rem;
          width: 2.4542rem;
        }
        .auto-group-z4zh-4yq {
          margin-top: 0.1rem;
          width: 2.4542rem;
          height: 2.4542rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .portfolio-text-CaF {
      box-sizing: border-box;
      height: 32.9rem;
      position: absolute;
      left: 96.1rem;
      top: 333.7rem;
      flex-direction: column;
      padding-bottom: 0.3875rem;
      width: 67rem;
      align-items: flex-end;
      display: flex;

      .auto-group-7tod-7BR {
        margin-bottom: 2.6rem;
        width: 28.8rem;
        height: 7rem;
        position: relative;
        flex-shrink: 0;

        .example-project-Emq {
          letter-spacing: 0.068rem;
          color: #ccd6f6;
          font-family: Poppins, 'Source Sans Pro';
          width: 28.8rem;
          height: 5.1rem;
          position: absolute;
          line-height: 1.5;
          font-weight: 600;
          white-space: nowrap;
          left: 0;
          top: 1.9rem;
          display: flex;
          font-size: 3.4rem;
        }
        .featured-project-YGj {
          font-family: Poppins, 'Source Sans Pro';
          width: 14.3rem;
          position: absolute;
          font-weight: 600;
          display: flex;
          font-size: 1.6rem;
          line-height: 1.5;
          letter-spacing: 0.032rem;
          color: #9757d3;
          height: 2.4rem;
          left: 14.1rem;
          top: 0;
          white-space: nowrap;
        }
      }
      .auto-group-cfph-E9Z {
        margin: 0rem 0.1rem 3.858rem 0rem;
        height: 16.5rem;
        background-image: url('REPLACE_IMAGE:21:19');
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.6rem 5rem 3.1rem 3.4rem;
        width: 66.9rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        .a-web-app-for-visualizing-personalized-spotify-data-view-your-top-artists-top-tracks-recently-played-tracks-and-detailed-audio-information-about-each-track-create-and-save-new-playlists-of-recommended-tracks-based-on-your-existing-playlists-and-more-371 {
          line-height: 1.5;
          color: #ccd6f6;
          font-family: Poppins, 'Source Sans Pro';
          max-width: 58.5rem;
          display: flex;
          font-size: 1.8rem;
          font-weight: 500;
        }
      }
      .auto-group-s1nt-3WK {
        margin: 0rem 4.687rem 0rem 55.058rem;
        width: calc(100% - 59.7458rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .icon-park-solid-click-ZzT {
          height: 2.4542rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 2.346rem 0.1rem 0rem;
          width: 2.4542rem;
        }
        .auto-group-2zpy-HfZ {
          margin-top: 0.1rem;
          width: 2.4542rem;
          height: 2.4542rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .group-1909-cC3 {
      position: absolute;
      left: 59.8rem;
      top: 181.7rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 89.5rem;
      height: 75.4rem;

      .auto-group-fmdm-8w5 {
        margin: 0rem 10.9rem 3.35rem 12.3rem;
        width: calc(100% - 23.2rem);
        height: 6.35rem;
        position: relative;
        flex-shrink: 0;

        .im-currently-looking-to-join-a-cross-functional-team-that-values-improving-peoples-lives-through-accessible-design-GGb {
          display: flex;
          align-items: center;
          font-weight: 400;
          width: 66.3rem;
          left: 0;
          top: 0.15rem;
          justify-content: center;
          font-family: Preahvihear, 'Source Sans Pro';
          height: 6.2rem;
          position: absolute;
          font-size: 2.4rem;
          line-height: 1.2916666667;
          letter-spacing: 0.048rem;
          color: #ffffff;

          .im-currently-looking-to-join-a-cross-functional-team-that-values-improving-peoples-lives-through-accessible-design-GGb-sub-0 {
          }
          .im-currently-looking-to-join-a-cross-functional-team-that-values-improving-peoples-lives-through-accessible-design-GGb-sub-1 {
            color: #ffffff;
            font-family: Preahvihear, 'Source Sans Pro';
            font-size: 1.7rem;
            font-weight: 400;
            line-height: 1.8235294118;
            letter-spacing: 0.048rem;
          }
        }
        .cross-functional-6Q3 {
          width: 22.1rem;
          align-items: center;
          line-height: 1.2916666667;
          color: #a361ff;
          left: 37.6rem;
          top: 0;
          justify-content: center;
          font-weight: 400;
          letter-spacing: 0.048rem;
          height: 3.1rem;
          position: absolute;
          display: flex;
          font-size: 2.4rem;
          white-space: nowrap;
          font-family: Preahvihear, 'Source Sans Pro';
        }
      }
      .auto-group-n1yo-nXm {
        width: 100%;
        height: 65.7rem;
        position: relative;
        flex-shrink: 0;

        .vector-25-HzK {
          left: 46.1573rem;
          top: 8.55rem;
          object-fit: contain;
          vertical-align: top;
          width: 12.2427rem;
          height: 27.75rem;
          position: absolute;
        }
        .vector-26-qF9 {
          top: 10.25rem;
          object-fit: contain;
          vertical-align: top;
          width: 7.0489rem;
          height: 27rem;
          position: absolute;
          left: 45.2011rem;
        }
        .vector-27-ZB9 {
          width: 3.45rem;
          height: 29.15rem;
          position: absolute;
          left: 43.65rem;
          top: 10.1rem;
          object-fit: contain;
          vertical-align: top;
        }
        .vector-28-Hcw {
          left: 30.35rem;
          top: 9.5rem;
          object-fit: contain;
          vertical-align: top;
          width: 11.7949rem;
          height: 30.05rem;
          position: absolute;
        }
        .vector-29-DmV {
          top: 9.5rem;
          object-fit: contain;
          vertical-align: top;
          width: 6.611rem;
          height: 31rem;
          position: absolute;
          left: 36.5rem;
        }
        .vector-30-mHD {
          height: 31.3rem;
          position: absolute;
          left: 41.4rem;
          top: 9.8rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.1rem;
        }
        .ellipse-6-hwZ {
          width: 54.2rem;
          height: 33rem;
          position: absolute;
          left: 18.1rem;
          top: 32.7rem;
          object-fit: contain;
          vertical-align: top;
        }
        .group-1899-3Vd {
          position: absolute;
          left: 25.5rem;
          top: 0;
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 37.4rem;
          height: 10.5rem;

          .auto-group-fsn3-P3h {
            width: 100%;
            height: 4.4rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-bottom: 1.7rem;

            .auto-group-wvlk-oWj {
              box-sizing: border-box;
              padding: 0.8rem 1.1rem 0.8rem 1.2rem;
              height: 100%;
              background-color: #251c31;
              border-radius: 2.2rem;
              flex-shrink: 0;
              margin-right: 1.1rem;

              .rectangle-1-83D {
                height: 2.8rem;
                object-fit: cover;
                vertical-align: top;
                width: 2.1rem;
              }
            }
            .auto-group-i4hr-SJo {
              padding: 0.8rem 0.6rem;
              height: 100%;
              background-color: #251c31;
              border-radius: 2.2rem;
              flex-shrink: 0;
              margin-right: 1.1rem;
              box-sizing: border-box;

              .rectangle-2-y3q {
                vertical-align: top;
                width: 3.2rem;
                height: 2.8rem;
                object-fit: cover;
              }
            }
            .auto-group-21mm-hVd {
              height: 100%;
              background-color: #251c31;
              border-radius: 2.2rem;
              flex-shrink: 0;
              margin-right: 1.4rem;
              box-sizing: border-box;
              padding: 0.7rem 0.6rem 0.6rem 0.6rem;

              .rectangle-3-2Xu {
                object-fit: cover;
                vertical-align: top;
                width: 3.2rem;
                height: 3.1rem;
              }
            }
            .auto-group-daef-xgT {
              border-radius: 2.2rem;
              flex-shrink: 0;
              margin-right: 0.8rem;
              box-sizing: border-box;
              padding: 1.2rem 0.6rem 1.1rem 0.6rem;
              height: 100%;
              background-color: #251c31;

              .rectangle-4-5m5 {
                width: 3.2rem;
                height: 2.1rem;
                object-fit: cover;
                vertical-align: top;
              }
            }
            .auto-group-7wpk-1ud {
              margin-right: 1.1rem;
              box-sizing: border-box;
              padding: 0.8rem 0.9rem 1.1rem 0.9rem;
              height: 100%;
              background-color: #251c31;
              border-radius: 2.2rem;
              flex-shrink: 0;

              .rectangle-8-Yef {
                width: 2.6rem;
                height: 2.5rem;
                object-fit: cover;
                vertical-align: top;
              }
            }
            .auto-group-mrnp-58o {
              background-color: #251c31;
              border-radius: 2.2rem;
              flex-shrink: 0;
              margin-right: 1.1rem;
              box-sizing: border-box;
              padding: 1rem 0.9rem 0.9rem 0.9rem;
              height: 100%;

              .rectangle-6-1YF {
                height: 2.5rem;
                object-fit: cover;
                vertical-align: top;
                width: 2.6rem;
              }
            }
            .auto-group-najp-LqR {
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1rem 0.9rem 0.9rem 0.9rem;
              height: 100%;
              background-color: #251c31;
              border-radius: 2.2rem;

              .rectangle-7-tM9 {
                width: 2.6rem;
                height: 2.5rem;
                object-fit: cover;
                vertical-align: top;
              }
            }
          }
          .auto-group-qd6t-DuD {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 2.1rem 0rem 2.8rem;
            width: calc(100% - 4.9rem);
            height: 4.4rem;

            .auto-group-ovjs-wKR {
              padding: 1rem 0.9rem 0.9rem 0.9rem;
              height: 100%;
              background-color: #251c31;
              border-radius: 2.2rem;
              flex-shrink: 0;
              margin-right: 1.6rem;
              box-sizing: border-box;

              .rectangle-5-sTy {
                width: 2.6rem;
                height: 2.5rem;
                object-fit: cover;
                vertical-align: top;
              }
            }
            .auto-group-rf39-DGw {
              margin-right: 0.8rem;
              box-sizing: border-box;
              padding: 1.4rem 0.6rem 1.5rem 0.5rem;
              height: 100%;
              background-color: #251c31;
              border-radius: 2.2rem;
              flex-shrink: 0;

              .rectangle-9-YKD {
                position: relative;
                background-size: 275.965% 346.667%;
                background-position: -2.8534rem -1.8rem;
                background-image: url('REPLACE_IMAGE:e1604408f9ccbb55161fd96b1f344e755081131c');
                width: 3.3rem;
                height: 1.5rem;
              }
            }
            .auto-group-tpv3-DRM {
              box-sizing: border-box;
              padding: 0.9rem;
              height: 100%;
              background-color: #251c31;
              border-radius: 2.2rem;
              flex-shrink: 0;
              margin-right: 1.1rem;

              .rectangle-10-ZVD {
                width: 2.6rem;
                height: 2.6rem;
                object-fit: cover;
                vertical-align: top;
              }
            }
            .auto-group-cwwz-5iT {
              margin-right: 1.5rem;
              box-sizing: border-box;
              padding: 1rem 0.9rem 0.9rem 0.9rem;
              height: 100%;
              background-color: #251c31;
              border-radius: 2.2rem;
              flex-shrink: 0;

              .rectangle-11-ciP {
                width: 2.6rem;
                height: 2.5rem;
                object-fit: cover;
                vertical-align: top;
              }
            }
            .auto-group-kudv-9yD {
              box-sizing: border-box;
              padding: 1.7rem 0.2rem 1.6rem 0.3rem;
              height: 100%;
              background-color: #251c31;
              border-radius: 2.2rem;
              flex-shrink: 0;
              margin-right: 1.1rem;

              .rectangle-12-6Nf {
                height: 1.1rem;
                object-fit: cover;
                vertical-align: top;
                width: 3.9rem;
              }
            }
            .auto-group-luao-EUs {
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1.7rem 0.2rem 1.8rem 0.5rem;
              height: 100%;
              background-color: #251c31;
              border-radius: 2.2rem;

              .rectangle-13-AdR {
                width: 3.7rem;
                height: 0.9rem;
                object-fit: cover;
                vertical-align: top;
              }
            }
          }
        }
        .ellipse-20-Vvb {
          width: 18rem;
          height: 18rem;
          position: absolute;
          left: 35rem;
          top: 35.1rem;
          background: linear-gradient(180deg, rgba(48, 16, 128, 0.6000000238) -0%, rgba(120, 64, 173, 0.3600000143) 100%);
          border-radius: 9rem;
        }
        .group-1897-NzP {
          width: 7.6144rem;
          height: 9rem;
          position: absolute;
          left: 40.2364rem;
          top: 39.6818rem;
          object-fit: contain;
          vertical-align: top;
        }
        .ellipse-21-iHZ {
          height: 26.9rem;
          position: absolute;
          left: 0;
          top: 36rem;
          object-fit: contain;
          vertical-align: top;
          width: 88.1rem;
        }
        .ellipse-22-FoH {
          object-fit: contain;
          vertical-align: top;
          width: 76.4rem;
          height: 26.9rem;
          position: absolute;
          left: 6.3rem;
          top: 36rem;
        }
        .ellipse-23-aqZ {
          left: 10.8rem;
          top: 36rem;
          object-fit: contain;
          vertical-align: top;
          width: 69.5rem;
          height: 26.9rem;
          position: absolute;
        }
        .group-1907-XVu {
          padding: 9.1rem 0.6rem 2rem 0.5rem;
          width: 30.6rem;
          position: absolute;
          left: 29.2rem;
          background-image: url('REPLACE_IMAGE:16:274');
          box-sizing: border-box;
          height: 27.5rem;
          top: 28.8rem;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;

          .ellipse-25-dYw {
            width: 29.5rem;
            height: 16.4rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .group-yMu {
          position: absolute;
          left: 83.3rem;
          top: 43.8313rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.0093rem;
          height: 2.0867rem;
        }
        .vector-7U7 {
          object-fit: contain;
          vertical-align: top;
          width: 1.3rem;
          height: 1.516rem;
          position: absolute;
          left: 77.1rem;
          top: 40.7991rem;
        }
        .vector-T2B {
          left: 87.9rem;
          top: 49.0791rem;
          object-fit: contain;
          vertical-align: top;
          width: 1.6rem;
          height: 2.2157rem;
          position: absolute;
        }
        .group-CEf {
          object-fit: contain;
          vertical-align: top;
          width: 1.1rem;
          height: 1.9242rem;
          position: absolute;
          left: 76.6rem;
          top: 57.8254rem;
        }
        .group-1900-Xnj {
          vertical-align: top;
          width: 1.3591rem;
          height: 1.5453rem;
          position: absolute;
          left: 82.6rem;
          top: 51.0615rem;
          object-fit: contain;
        }
        .group-1901-4Gs {
          vertical-align: top;
          width: 2.0312rem;
          height: 1.1491rem;
          position: absolute;
          left: 70.9rem;
          top: 41.5181rem;
          object-fit: contain;
        }
        .vector-zgK {
          width: 1.4rem;
          height: 1.7493rem;
          position: absolute;
          left: 12rem;
          top: 48.0295rem;
          object-fit: contain;
          vertical-align: top;
        }
        .group-1905-93R {
          height: 2.0332rem;
          position: absolute;
          left: 2.8rem;
          top: 54.8976rem;
          object-fit: contain;
          vertical-align: top;
          width: 1.3rem;
        }
        .group-1902-UrP {
          width: 1.2rem;
          height: 1.4736rem;
          position: absolute;
          left: 18.7rem;
          top: 38.7rem;
          object-fit: contain;
          vertical-align: top;
        }
        .group-1903-dDV {
          top: 42.4318rem;
          object-fit: contain;
          vertical-align: top;
          width: 1.2574rem;
          height: 1.4946rem;
          position: absolute;
          left: 8.2rem;
        }
        .group-1904-m4o {
          top: 55.843rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.1714rem;
          height: 1.8659rem;
          position: absolute;
          left: 12.8rem;
        }
      }
    }
    .social-icons-5rB {
      position: absolute;
      left: 45.8rem;
      top: 416.2rem;
      display: flex;
      column-gap: 2.7773rem;
      align-items: center;
      width: 11.0001rem;
      height: 1.8272rem;

      .vector-onB {
        width: 1.8272rem;
        height: 1.8272rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.0001rem;
      }
      .vector-9b9 {
        margin-bottom: 0.0001rem;
        width: 1.8272rem;
        height: 1.8272rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-tYj {
        width: 1.7911rem;
        height: 1.8272rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .me-3Rd {
      position: absolute;
      left: 46.1rem;
      top: 30.5962rem;
      background-image: url('REPLACE_IMAGE:16:308');
      box-sizing: border-box;
      padding: 0.572rem 4.5rem 0.572rem 4.8rem;
      width: 25.8rem;
      height: 25.9rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      .image-1-xHh {
        width: 16.5rem;
        height: 22.3rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .experience-V2j {
      position: absolute;
      left: 105.3rem;
      top: 125.1rem;
      box-shadow: 0.4rem 0.7rem 2.6rem rgba(0, 0, 0, 0.1199999973);
      background: linear-gradient(95.56deg, #130328 0.58%, #250f42 16.32%, #38116d 29.33%, #261045 45.66%, #190634 54.44%);
      border-radius: 1.5rem;
      width: 57rem;
      height: 19.2676rem;

      .mask-group-aK5 {
        width: 57rem;
        height: 16.8061rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
        vertical-align: top;
      }
      .cib-on-the-mobile-VB9 {
        position: absolute;
        top: 4.5962rem;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        width: 22.8rem;
        height: 3.3rem;
        left: 19.5rem;
        font-size: 2.6rem;
        font-weight: 600;
        line-height: 1.25;
        white-space: nowrap;
      }
      .take-your-client-onboard-seamlessly-by-our-amazing-tool-of-digital-onboard-process-NVq {
        height: 2.1rem;
        position: absolute;
        top: 8.0962rem;
        width: 21.4rem;
        font-size: 0.8rem;
        font-weight: 500;
        line-height: 1.3125;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        left: 19.6rem;
      }
      .learn-more-eTM {
        top: 11.1962rem;
        line-height: 1.5;
        color: #ffffff;
        display: flex;
        align-items: center;
        background-color: #2b114f;
        width: 11.9rem;
        left: 19.3rem;
        font-size: 1rem;
        border-radius: 1rem;
        height: 3.3rem;
        position: absolute;
        text-align: center;
        font-family: Poppins, 'Source Sans Pro';
        justify-content: center;
        box-sizing: border-box;
        font-weight: 500;
        white-space: nowrap;
        border: solid 0.1rem #683a92;
      }
      .group-1-5oZ {
        width: 11.9987rem;
        height: 9.8rem;
        position: absolute;
        left: 5.9rem;
        top: 4.8962rem;
        display: flex;
        align-items: center;

        .auto-group-yxbm-1SK {
          height: 100%;
          position: relative;
          flex-shrink: 0;
          margin-right: 0.1224rem;
          width: 11.3929rem;

          .rectangle-wKy {
            width: 9.2rem;
            height: 9.2rem;
            position: absolute;
            left: 1.1rem;
            top: 0;
            object-fit: cover;
            vertical-align: top;
          }
          .ellipse-1-5BH {
            top: 4.9915rem;
            object-fit: contain;
            vertical-align: top;
            width: 11.3929rem;
            height: 4.8085rem;
            position: absolute;
            left: 0;
          }
          .ellipse-2-QjM {
            left: 0.1573rem;
            top: 6.3743rem;
            object-fit: contain;
            vertical-align: top;
            width: 0.4834rem;
            height: 0.4418rem;
            position: absolute;
          }
          .ellipse-4-wzB {
            object-fit: contain;
            vertical-align: top;
            width: 0.4834rem;
            height: 0.4418rem;
            position: absolute;
            left: 1.7454rem;
            top: 0.6rem;
          }
          .ellipse-5-gwm {
            left: 9.0988rem;
            top: 8.6777rem;
            object-fit: contain;
            vertical-align: top;
            width: 0.4834rem;
            height: 0.4418rem;
            position: absolute;
          }
        }
        .ellipse-3-RPZ {
          margin-bottom: 1.0902rem;
          width: 0.4834rem;
          height: 0.4418rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
  }
  .webhr-logo-vectorized-sFZ {
    position: relative;
    flex-shrink: 0;
    margin-right: 950.4rem;
    width: 409.6rem;
    height: 141.9rem;
    overflow: hidden;
  }
  .auto-group-sucs-CYj {
    margin: 30.1rem 542.05rem 0rem 0rem;
    width: 94.6rem;
    flex-shrink: 0;

    .im-a-software-engineer-8hH {
      margin-bottom: 26.15rem;
      display: flex;
      align-items: center;
      font-size: 5rem;
      letter-spacing: 0.1rem;
      width: 100%;
      justify-content: center;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Poor Story, 'Source Sans Pro';
      white-space: nowrap;
    }
    .im-a-software-engineer-e9q {
      display: flex;
      align-items: center;
      font-size: 5rem;
      color: #000000;
      width: 100%;
      justify-content: center;
      font-weight: 400;
      line-height: 1.2575;
      letter-spacing: 0.1rem;
      font-family: PoetsenOne, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .auto-group-j5it-9cP {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 106.6rem 315.7rem 0rem 0rem;

    .developed-webhr-landing-page-which-is-utilized-in-25000-companies-tK5 {
      font-size: 2.2rem;
      font-weight: 400;
      white-space: nowrap;
      font-family: Preahvihear, 'Source Sans Pro';
      flex-shrink: 0;
      margin-bottom: 106.55rem;
      display: flex;
      line-height: 1.805;
      letter-spacing: 0.044rem;
      color: #000000;
    }
    .linkedin-behance-dribbble-instagram-logo-ybR {
      display: flex;
      font-size: 4rem;
      line-height: 1.805;
      letter-spacing: 0.08rem;
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 41.2rem;
      font-weight: 400;
      color: #000000;
      font-family: Preahvihear, 'Source Sans Pro';
    }
  }
}
